body {
    background-image: url('bg.png');
    animation: transitionIn 0.75s;
    background-size: cover;
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
  @keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  img{
    border-radius: 20px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
  }
  
  p {
    color: #333;
    font-family: Arial;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .listp {
    margin: 0 10px;
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  
  .splist {
    display: flex;
    justify-content: center;
  }
  
  .splist li {
    margin: 0 10px;
  }
  
  .container{
    opacity: 0.95;
    height:fit-content;
    width: fit-content;
    border-radius: 25px;
    border: 10px solid rgb(155, 145, 173);
    background: #ccc0e7;
    padding: 20px;
    margin: auto;
  }

  table, td, th {
    border: 2px solid white;
  }
  
  th, td {
    padding: 10px;
    color:white
  }

  .tbp{
    color:white
  }

  .table-round {
    background-color: rgb(14, 14, 14);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
  }
  
  article {
    margin: auto;
  }

  .cardContent {
    padding: 20px;
  }
  .card:hover {
    transform: scale(1.2);
    box-sizing: border-box;
    transform-origin: center;
    transition: transform 0.5s;
    }
    
    .card .cardDescription {
    position: absolute;
    bottom: 40px;
    left: 10px;
    right: 0;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    opacity: 0;
    }
    
    
    .card:hover .cardDescription {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
    }
    
    .card:hover .cardTitle {
    position: relative;
    transform: translateY(-1.8rem);
    transition: transform 0.5s;
    }
  
    .card {
    width: 300px;
    height:330px;
    background-color: white;
    border-radius: 20px;
    transition: transform 0.5s;
    overflow: hidden;
    position: relative;
    }
    
    .articleImage {
    margin: 0;
    padding: 0;
    overflow: hidden;
    object-fit: cover;
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    backface-visibility: hidden;
    }
  
    .card:hover .articleImage {
    transform: scale(0.9);
    transition: transform 0.5s;
    }

    .articleTime{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    .articleTime{
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    .articleReadMore{
      position: absolute;
      bottom: 40px;
      left: 20px;
    }
    