body {
    background-image: url('bg.png');
    background-size: cover;
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
  }
  
  p {
    color: #333;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .listp {
    margin: 0 10px;
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  
  .splist {
    display: flex;
    justify-content: center;
  }
  
  .splist li {
    margin: 0 10px;
  }
  
  .container{
    opacity: 0.95;
    height:fit-content;
    width: fit-content;
    border-radius: 25px;
    border: 10px solid rgb(155, 145, 173);
    background: #ccc0e7;
    padding: 20px;
    margin: auto;
  }

  table, td, th {
    border: 2px solid white;
  }
  
  th, td {
    padding: 10px;
    color:white
  }

  .tbp{
    color:white
  }

  .table-round {
    background-color: rgb(14, 14, 14);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
  }